<div class="greetings center">
  <div>
    <h1>Angular Contents</h1>
    <a class="neat greyfy subtitle" href="https://github.com/zurfyx/angular-contents" rel="noopener" target="_blank">As seen on GitHub</a>
  </div>
</div>
<div class="greetings-angle"></div>

<div class="reader">
  <a id="scrollView-switch" class="switch neat" href="javascript:void(0)" (click)="scrollView=!scrollView">
    <span class="bubble" [class.fill]="scrollView"></span> Scroll view
  </a>
  <a id="scrollViewTable-switch" class="switch neat" href="javascript:void(0)" (click)="scrollViewTable=!scrollViewTable" *ngIf="scrollView">
    <span class="bubble" [class.fill]="scrollViewTable"></span> Including table
  </a>

  <!-- default.component.html -->
  <app-default *ngIf="!scrollView"></app-default>

  <!-- scrolling-view.component.html -->
  <app-scrolling-view *ngIf="scrollView && !scrollViewTable"></app-scrolling-view>

  <!-- scrolling-view-table.component.html -->
  <app-scrolling-view-table *ngIf="scrollView && scrollViewTable"></app-scrolling-view-table>

  <div class="blank center">
    <div>
      <p>The end.</p>
      <i>This space was intentionally left blank.</i>
    </div>
  </div>
</div>