@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Noto+Serif');

html, body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 200;
  margin-bottom: 2rem;
  margin: 0;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

a.shadowy {
  padding: .5rem 1rem;
  transition: .2s all ease-in;
  
  &:hover {
    color: #4aabc9;
    background-color: #fff;
  }
}

a.greyfy {
  transition: color 0.2s ease-in;

  &:hover {
    color: #999;
  }
}

.bubble {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #444;
  border-radius: 0.8em;

  &.fill {
    background-color: #444;
  }
}

.greetings {
  background: #000;
  color: #fff;
  height: 40vh;
}

.greetings-angle {
  position: relative;
  display: block;
  height: 10vh;
  overflow: hidden;
  max-width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: -100vh;
    display: block;
    background-color: #000;
    margin-top: -15vh;
    height: 20vh;
    transform: rotate(-2deg);
    width: 200vw;
  }
}

.subtitle {
  display: block;
  margin-top: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blank {
  height: 100vh;
}

.reader {
  font-family: 'Noto Serif', serif;
  line-height: 1.7em;
  margin: 0 auto;
  max-width: 900px;
  text-align: justify;

  h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
  }
}

.switch {
  display: inline-block;
  margin-bottom: 1rem;
}

.switch + .switch {
  margin-left: 1rem;
}
