@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

/* Angular-contents specific styles */

.contents-links {
  position: fixed;
}

.active {
  background-color: rgb(68, 0, 255);
}

// Columnify https://stackoverflow.com/a/47220287
.columnify {
  display: flex;
}

.columnify > * {
  flex: 1;
}

.columnify > *:not(:first-child) {
  margin-left: 2rem;
}
/* /Angular-contents specific styles */

html, body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  // background: #4aabc9;
  // background: linear-gradient(135deg, #4aabc9 0%,#7db9e8 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 30px;
  margin: 0;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

a.shadowy {
  padding: .5rem 1rem;
  transition: .2s all ease-in;
  
  &:hover {
    color: #4aabc9;
    background-color: #fff;
  }
}

.greetings {
  color: #fff;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
